@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.location_picker .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
  max-width: unset;
  box-shadow: none;
}

.location_picker .mapboxgl-ctrl-geocoder--input {
  padding-left: 0px;
  font-size: 20px;
}

.rmdp-input,
.rmdp-input:hover,
.rmdp-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.location_picker .mapboxgl-ctrl-geocoder--input:focus {
  border: none;
  outline: none;
}

.location_picker .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}